{% extends "layout.html"%}

{% block titulo %}
<script src="../static/js/jquery-3.5.1.js"></script>
<script src="../static/js/agregarRegistro.js"></script>
<title>Agregar datos con Flask</title>
{% endblock %}

{% block contenido %}
<h3>Agregando nuevo registro con Flask</h3>
<br/>
<form class="form" action="/" >
    <div class="from-group row">
        <label for="" class="col-sm-2 col-form-label"><strong>Texto</strong></label>
        <div class="col-sm-10">
            <input type="text" id="txtTexto" name="txtTexto" class="form-control" required>
        </div>
    </div>
    <div class="from-group row">
        <label for="" class="col-sm-2 col-form-label"><strong>Descripción</strong></label>
        <div class="col-sm-10">
            <input type="text" id="txtDescrip" name="txtDescrip" class="form-control" required>
        </div>
    </div>
    <br/>
    <button type="submit" id="btnAgregar" class="btn btn-primary">Agregar</button>
</form>
{% endblock %}
